* {
    scroll-behavior: smooth;
}

.top-bar{
    height: 79px;
}

#container-search {
    line-height: 1.25rem;
    font-size: 0.875rem;
    left: 10px;
    top: 10px;
    height: 10px;
}

@media screen and (min-width: 768px) {
    .content {
        min-height: 95vh;
    }
}

@media screen and (max-width: 768px) {
    .content {
        min-height: 85vh;
    }
}
