.dataTables_wrapper {
    font-family: "Roboto", sans-serif !important;
}

/* Show Length */
.dataTables_wrapper .dataTables_length {
    width: 200px;
    padding: 5px;
}

.dataTables_wrapper .dataTables_filter {
    padding: 5px;
}

.dataTables_wrapper .dataTables_length select {
    background-position: right center;
    width: 60px;
}

/* Filter */
.dataTables_wrapper .dataTables_filter input {
    width: 300px;
    padding: 8px;

    border-radius: 5px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    outline: none;
}

/* Pagination */

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 10% !important;
    padding: 0.5em 0.9em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgb(0, 38, 35) !important;
    color: white !important;
    cursor: pointer !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid rgb(87, 180, 146) !important;
    background: transparent !important;
    cursor: context-menu !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 0px !important;
    background: transparent !important;
    cursor: context-menu !important;
}

@media only screen and (max-width: 800px) {
    .dataTables_wrapper .dataTables_filter input {
        width: 200px;
    }
}
